<div id="menu" class="slideout-menu slideout-closed">
	<div class="flexbox"><nav><h4>Pages</h4>
			<a href="{{ site.url }}">主页</a>
			<a href="{{ site.url }}/about.html">关于作者</a>
			<a href="{{ site.url }}/archives.html">作品归档</a>
		<h4>Categories</h4>
			<a href="{{ site.url }}/categories/gai_nian_she_ji.html">概念设计</a>
			<a href="{{ site.url }}/categories/cha_hua.html">插画</a>
	</nav><div class="details">
<b>{{site.title}}</b><p></p>Hudi's Home Pages<p> 
Desigin and Sketch by <a>hudi</a>  , and free on <a>Github</a></p></div></div></div>
